# Plugins are installed separately; startup only loads existing files.
ZSH_PLUGIN_DIR="${XDG_DATA_HOME:-$HOME/.local/share}/zsh/plugins"
if [[ -d "$ZSH_PLUGIN_DIR/zsh-completions/src" ]]; then
  fpath=("$ZSH_PLUGIN_DIR/zsh-completions/src" $fpath)
fi
autoload -Uz compinit
compinit

for plugin in \
  "$ZSH_PLUGIN_DIR/zsh-autosuggestions/zsh-autosuggestions.zsh" \
  "$ZSH_PLUGIN_DIR/ohmyzsh/plugins/gh/gh.plugin.zsh" \
  "$ZSH_PLUGIN_DIR/ohmyzsh/plugins/brew/brew.plugin.zsh"; do
  [[ -r "$plugin" ]] && source "$plugin"
done
unset plugin

(( $+commands[atuin] )) && eval "$(atuin init zsh)"
(( $+commands[mise] )) && eval "$(mise activate zsh)"
(( $+commands[zoxide] )) && eval "$(zoxide init zsh)"

# === History ===
HISTFILE="$HOME/.zsh_history"
HISTSIZE=10000
SAVEHIST=10000
setopt HIST_IGNORE_ALL_DUPS
setopt HIST_SAVE_NO_DUPS
setopt SHARE_HISTORY
setopt INC_APPEND_HISTORY

# === Custom Functions ===
fpath=("${ZDOTDIR:-$HOME}/.zsh/functions" $fpath)
autoload -Uz ${fpath[1]}/*(.:t)

# === Options ===
setopt AUTO_CD
setopt INTERACTIVE_COMMENTS
setopt NO_BEEP

# Syntax highlighting loads after widgets and keybindings.
if [[ -r "$ZSH_PLUGIN_DIR/fast-syntax-highlighting/fast-syntax-highlighting.plugin.zsh" ]]; then
  source "$ZSH_PLUGIN_DIR/fast-syntax-highlighting/fast-syntax-highlighting.plugin.zsh"
fi

# Initialize the prompt after shell integrations and widgets.
if (( $+commands[starship] )); then
  eval "$(starship init zsh)"
else
  print -u2 -- 'Starship is not installed or not on PATH. Run: brew install starship; exec zsh -l'
fi
